# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Environment
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vercel
.trae/

# From flix repo
project/nextjs_space/.env
project/nextjs_space/.next
project/nextjs_space/node_modules
project/nextjs_space/tsconfig.tsbuildinfo
